//Hamburguer
.navigation__toggle {
  padding: 10px 0;
  z-index: 1000;
  position: absolute;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  width: 20px;
  height: 2px;
  background: $color-black;
  z-index: 900;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
}

.hamburger::before {
  bottom: 6px;
}
.hamburger::after {
  top: 6px;
  font-size: 3rem;
}

//Button Orange full width

.btn-orange {
  padding: $padding-small;
  background-color: $color-primary-dark;
  color: $color-white;
  @include fontButton();
  border-radius: $std-border-radius;
  text-align: center;
}

.btn-orange-light {
  padding: $padding-small;
  background-color: $color-primary-medium;
  color: $color-white;
  @include fontButton();
  border-radius: $std-border-radius;
  text-align: center;
}

.btn-white {
  padding: $padding-small;
  background-color: $color-white;
  color: $color-primary-dark;
  @include fontButton();
  border-radius: $std-border-radius;
  border: $border-orange;
  text-align: center;
  text-decoration: none;
}
