//body overlay when you open the menu
body.black-overlay:after {
  content: "";

  position: fixed;
  padding: 100px 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  z-index: 1;
  background-color: $color-black-overlay;
  animation: fadein 400ms ease-in;

  @include mediaQuery($desktop) {
    display: none;
  }
}

.background-light-grey {
  background-color: $color-support-lighter;
}

.card-link {
  text-decoration: none;
}

//Rating stars
.rating-stars {
  display: inline-block;
  font-size: 1rem;
  font-family: Times;

  &::before {
    --rating: 3.5;
    --percent: calc(var(--rating) / 5 * 100%);

    content: "★★★★★";
    letter-spacing: 3px;

    background: linear-gradient(90deg, $color-primary-dark var(--percent), $color-support-medium var(--percent));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

//Recipe cards
.recipe-card {
  display: block;

  &.card-link {
    margin: 0;
    @include fontBody1Semibold();
  }
  .card {
    border: none;
    background-color: unset;
  }

  &__img {
    border-radius: $std-border-radius;
    overflow: hidden;
    display: grid;
    grid-template-columns: 0.5rem auto 0.5rem;
    grid-template-rows: 0.5rem auto 0.5rem;
    max-width: 318px;
    max-height: 324px;
    overflow: hidden;

    img {
      grid-column: 1/-1;
      grid-row: 1/-1;
    }

    button {
      grid-column: 2;
      grid-row: 2;
      z-index: 1;
      align-self: start;
      justify-self: end;
      color: $color-support-dark;
      background-color: $color-white;
      border-radius: 50%;
      padding: 14px;
      position: relative;
    }

    .remove-recipe {
      &::before,
      &::after {
        content: "";
        width: 18px;
        height: 2px;
        background-color: black;

        position: absolute;
        inset: 13px 0 0 5px;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(135deg);
      }
    }

    .heart {
      fill: none;
      stroke: $color-support-medium;
      stroke-linecap: square;
      stroke-miterlimit: 10;
      stroke-width: 2px;
    }

    .more-options::after {
      content: "•••";
      position: absolute;
      bottom: 1px;
      right: 5px;
    }
    svg {
      position: absolute;
      top: 7px;
      right: 5px;
      height: 1rem;
    }
  }

  .card-body {
    padding: 0;
  }
  .card-title {
    @include fontBody1Semibold();
    color: $color-black;
  }
}

.swiper-box {
  overflow-x: hidden;
}

//checkboxes

.form-check-input {
  border: 1px solid $color-black;

  &:checked {
    border-color: $color-primary-dark;
    background-color: $color-white;

    &[type="checkbox"] {
      background-image: url("https://firebasestorage.googleapis.com/v0/b/wtfood-3d70f.appspot.com/o/icons%2Fcheckmark.svg?alt=media&token=a98145ed-bd7c-40b5-afcd-22eae758b78d");
    }
  }
}

.hide-desktop {
  @include mediaQuery($desktop) {
    display: none;
  }
}

.container {
  max-width: 1000px;
}

a{
  transition: all 200ms ease-out;
  &:hover{
    color: $color-primary-dark;
  }
}