@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Source+Serif+Pro:wght@600&display=swap");

//HEADINGS

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.5;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1rem;
}

.banner {
  /* CHANGE CHANGE CHANGE CHANGE CHANGE CHANGE CHANGE CHANGE CHANGE CHANGE */
  background: linear-gradient($color-primary-dark, $color-primary-light);
  padding: $std-section-padding;
}

//Sections

section {
  padding: $std-section-padding;
}

.section__heading {
  @include flex(row, space-between, center);

  h2 {
    font-size: 2rem;
  }
}

.round-image {
  @include roundImg();
  border: $std-border;
}
