header {
  position: sticky;
  top: 0;
  background-color: $color-white;
  z-index: 90;
  border-bottom: $border-grey;
}
.header__avatar-container {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;

  .login-avatar {
    max-width: 100%;
  }
}

.header__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: $std-section-padding;

  @include mediaQuery($desktop) {
    grid-template-columns: auto 1fr;
  }
}

.header__navigation {
  grid-column: 1/2;
  @include mediaQuery($desktop) {
    grid-column: 2/-1;
    justify-self: end;
  }
}

.nav__link{
  transition: all 200ms ease-out;

  &:hover{
    color: $color-primary-dark;
  }
}
.header__logo {
  grid-column: 2/3;
  text-align: center;
  max-width: 120px;

  @include mediaQuery($desktop) {
    grid-column: 1/2;
    text-align: left;
  }
}

.header__shopping {
  grid-column: 3/4;
  justify-self: end;
}

.header__navigation,
.header__logo,
.header__shopping {
  grid-row: 1/2;
}

#headerShoppingCart {
  svg {
    height: 1.5rem;
  }
  .c,
  .d,
  .e {
    fill: none;
  }
  .d {
    stroke-linecap: square;
  }
  .d,
  .e {
    stroke: #28231e;
    stroke-miterlimit: 10;
    stroke-width: 2px;
  }
  .f {
    clip-path: url(#b);
  }
}

//FOOTER
footer {
  background-color: $color-primary-dark;
}

.footer__logo {
  max-width: 120px;
}
.footer__main {
  display: grid;
  padding: 2rem 0;
  text-align: center;
  gap: 2rem;

  @include mediaQuery($desktop) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .footer__logo-container {
      flex-basis: 100%;
      text-align: left;
    }
  }

  .footer__nav {
    border-bottom: 1px solid $color-white;

    li {
      margin-bottom: 2rem;
    }
    a {
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
    }

    @include mediaQuery($desktop) {
      display: flex;
      flex-flow: row;
      text-align: left;
      justify-content: space-between;
      gap: 4rem;
      border: none;

      li {
        margin-bottom: 1rem;
      }
    }
  }

  .footer__social-menu {
    border-bottom: 1px solid $color-white;
    padding-bottom: 2rem;

    ul {
      @include flex(row, center, center);
      gap: 0.75rem;
    }

    li {
      border: 1px solid $color-white;
      border-radius: $std-border-radius;
      width: 32px;
      height: 32px;
    }

    a {
      color: $color-white;
      font-size: 1.2rem;
    }

    @include mediaQuery($desktop) {
      border: none;
    }
  }

  .footer__subscription {
    form {
      @include flex(row, center, center);
      gap: 0.5rem;

      label {
        flex-grow: 2;
        background-color: $color-white;
      }

      input[type="submit"] {
        flex-grow: 1;
        border: $border-white;
        @include fontButton();
        color: $color-white;
      }

      label,
      input[type="submit"] {
        border-radius: $std-border-radius;
        padding: 0.5rem;
      }
    }
  }
}

.footer__social-menu h3,
.footer__subscription h3 {
  font-family: $font-body;
  font-size: 1rem;
  color: $color-white;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 2rem;

  @include mediaQuery($desktop) {
    text-align: left;
    margin-bottom: 1rem;
  }
}

.footer__copyright {
  background-color: $color-black;
  color: $color-white;
  @include flex(column, center, center);
  @include fontBody2();
  padding: 1.5rem 0;

  @include mediaQuery($desktop) {
    flex-flow: row;
    justify-content: start;

    span:first-child::after {
      content: " - ";
    }
  }
}

.home .section__image-divider {
  padding: 0;
}
