.search__tab {
  max-width: 500px;
  .tab__search-form {
    background-color: $color-white;
    padding: 1rem;
    @include flex(column, center, start);
    gap: 0.5rem;
    border-radius: 0 0 $std-border-radius $std-border-radius;
    box-shadow: $box-shadow;

    legend {
      @include fontBody1();
      color: $color-text-medium-grey;
      padding-top: 0.5rem;
    }

    input[type="text"] {
      border-radius: $std-border-radius;
      border: $border-grey;
      padding: $padding-small;
      width: 100%;
    }

    label {
      width: 100%;
      padding: 0.125rem 0;
    }

    input[type="submit"] {
      width: 100%;
    }
  }
  .nav-link.active {
    color: $color-primary-dark;

    .b {
      stroke: $color-primary-dark;
    }

    .c {
      fill: $color-primary-dark;
    }
  }

  .nav-link[aria-selected="false"] {
    .b {
      stroke: $color-text-medium-grey;
    }

    .c {
      fill: $color-text-medium-grey;
    }

    background-color: $color-support-medium;
    color: $color-text-medium-grey;
  }

  //icons
  .b {
    fill: none;

    stroke-linecap: square;
    stroke-miterlimit: 10;
    stroke-width: 2px;
  }

  .c {
    fill: none;
  }
  svg {
    height: 1rem;
  }
}

//reset bootstrap style
.nav-tabs {
  border: none;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border: none;
}

.nav-tabs .nav-link {
  margin-bottom: 0;
  border: none;
}
