.banner {
  background-image: url(https://firebasestorage.googleapis.com/v0/b/wtfood-3d70f.appspot.com/o/banner-header.jpg?alt=media&token=4a042c17-f1ac-420f-94ac-f411a9518ae5);
  background-position: top right;
  background-size: cover;
  background-repeat: no-repeat;

  padding: $std-section-padding;
  min-height: 44vh;
}

.home,
.one-recipe {
  overflow-x: hidden;
}
.view-all {
  text-align: right;
  text-decoration: none;
  color: $color-primary-dark;
  white-space: nowrap;
}

.home section {
  padding: 3rem 0;
}

.home .section__heading {
  padding-bottom: 1rem;
  gap: 1rem;
}

//Food of the world section
.section__food-world-wrapper {
  --imgIndex3: 0;
  --nOfImg3: 1;

  gap: 0.5rem;
  width: 100%;
  width: calc(var(--nOfImg3) * 33%);
  transform: translate(calc(var(--imgIndex3) / var(--nOfImg3) * -100%));
  transition: transform 400ms ease-out;

  .food-world__card {
    width: 100%;
    width: calc(100% / var(--nOfImg3));
    pointer-events: none;
  }
}

.food-world__card a {
  display: grid;
  align-items: center;
  justify-content: center;

  .food-world__img {
    grid-column: 1/-1;
    grid-row: 1/2;
  }

  .food-world__card-title {
    grid-column: 1/-1;
    grid-row: 1/2;
    text-align: center;
  }
}
