.banner {
  background-image: url(https://firebasestorage.googleapis.com/v0/b/wtfood-3d70f.appspot.com/o/website%20images%2Fheroimage.jpg?alt=media&token=917a3fd1-73b2-4116-8f19-e1dae86ecf23);
  background-position: top 50% right 15%;
  background-size: cover;
  background-repeat: no-repeat;

  padding: $std-section-padding;
  min-height: 44vh;
}

.home,
.one-recipe {
  overflow-x: hidden;
}
.view-all {
  text-align: right;
  text-decoration: none;
  color: $color-primary-dark;
  white-space: nowrap;
}

.home section {
  padding: 3rem 0;
}

.home .section__heading {
  padding-bottom: 1rem;
  gap: 1rem;
}

.food-world__card a {
  display: grid;
  align-items: center;
  justify-content: center;

  .food-world__img {
    grid-column: 1/-1;
    grid-row: 1/2;
  }

  .food-world__card-title {
    grid-column: 1/-1;
    grid-row: 1/2;
    text-align: center;
  }
}
