.banner {
  /* CHANGE CHANGE CHANGE CHANGE CHANGE CHANGE CHANGE CHANGE CHANGE CHANGE */
  background: linear-gradient(45deg, $color-primary-dark, $color-primary-light);
  padding: $std-section-padding;
  min-height: 44vh;
}

.home {
  overflow-x: hidden;
}
.view-all {
  min-width: 100px;
  text-align: right;
  text-decoration: none;
  color: $color-primary-dark;
}

.home section {
  padding: 3rem 0;
}

.home .section__heading {
  padding-bottom: 1rem;
}

//Food of the world section
.section__food-world-wrapper {
  --imgIndex3: 0;
  --nOfImg3: 1;

  gap: 0.5rem;
  width: 100%;
  width: calc(var(--nOfImg3) * 33%);
  transform: translate(calc(var(--imgIndex3) / var(--nOfImg3) * -100%));
  transition: transform 400ms ease-out;

  .food-world__card {
    width: 100%;
    width: calc(100% / var(--nOfImg3));
    pointer-events: none;
  }
}

.food-world__card a {
  display: grid;
  align-items: center;
  justify-content: center;

  .food-world__img {
    grid-column: 1/-1;
    grid-row: 1/2;
  }

  .food-world__card-title {
    grid-column: 1/-1;
    grid-row: 1/2;
    text-align: center;
  }
}
