.recipe-summary {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;

  gap: 1rem;
}

.recipe-summary-info {
  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;

    li {
      @include fontBody2();
      @include flex(column, center, center);

      &:not(:last-child) {
        border-right: $border-light-grey;
        padding-right: $padding-small;
      }

      span:last-of-type {
        @include fontBody2Semibold();
      }
    }
  }

  @include mediaQuery($tablet) {
    max-width: 400px;
  }
}

.social-share {
  ul {
    @include flex(row, start, center);
    gap: 0.5rem;
  }
}

.recipe__details-tab {
  .tab-pane {
    padding: 1rem 0;
  }

  .nav-link {
    border-bottom: 3px solid transparent;
    color: $color-black;

    &[aria-selected="false"] {
      color: $color-text-medium-grey;
    }
  }

  .nav-tabs .nav-link.active {
    border-bottom: 3px solid $color-primary-dark;
  }

  @include mediaQuery($desktop) {
    .tab-content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.nutrition-wrapper,
.ingredients-wrapper,
.instructions-wrapper {
  & > * {
    padding-bottom: 0.5rem;
  }
}

.one-recipe section {
  padding: 3rem 0;
}

.share-recipe {
  @include mediaQuery($tablet) {
    display: flex;
    flex-flow: row nowrap;
  }
  &__content {
    @include flex(column, center, start);
    gap: 1rem;
  }
}

.about-recipe a {
  text-decoration: none;
  color: $color-primary-dark;
  &:hover {
    text-decoration: underline;
  }
}

.recipe-banner {
  @include mediaQuery($desktop) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;

    width: 100%;
    max-width: 960px;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;

    .oneRecipe-image {
      border-radius: $std-border-radius;
      overflow: hidden;
    }
  }
}

//TAB mobile-desktop

.recipe__details-tab {
  h3 {
    display: none;
  }

  @include mediaQuery($desktop) {
    .nav-tabs {
      display: none;
    }

    .tab-content > .tab-pane {
      display: block;
      opacity: 1;
    }

    h3 {
      display: block;
      margin-bottom: 1rem;
    }
  }
}
