.profile {
  padding: 2rem 0;

  @include mediaQuery($desktop) {
    display: grid;
    grid-template-columns: 1fr 4fr;
    border: $border-grey-thin;
    border-radius: 20px;
    padding: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: $color-white;

    &__main {
      border-right: $border-grey-thin;
    }

    .profile-container {
      padding: 2rem 0.7rem;
    }
  }

  &__avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 1rem;
  }
}



.profile-overlay {
  @include mediaQuery($desktop) {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: -1000;
    background-color: $color-support-lighter;
    margin-top: -50px;
  }
}
//Main area
.profile-main__wrapper {
  @include flex(column, center, center);
  gap: 2rem;

  @include mediaQuery($desktop) {
    max-width: 240px;
  }
}

.profile__user-info {
  @include flex(column, center, center);

  .user-photo-container {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      background-color: $color-black-overlay;
      font-size: 5rem;
      position: absolute;
      opacity: 0;
      transition: all 300ms ease-in;
    }

    &::after {
      content: "EDIT";
      position: absolute;
      inset: 43px 0 0 0;
      color: $color-white;
      @include fontButton();
      text-align: center;
      opacity: 0;
      transition: all 250ms ease-in;
    }

    &:hover::before,
    &:hover::after {
      opacity: 1;
    }
  }

  input[type="file"] {
    display: none;
  }

  #userName {
    @include fontBody1Semibold();
  }
}

.profile__summary {
  @include flex(row, center, center);
  gap: 0.5rem;

  &-data:not(:last-child) {
    border-right: $border-light-grey;
    padding-right: $padding-small;
  }

  &-data {
    @include flex(column, space-between, center);
  }

  &-title {
    @include fontBody2Semibold();
  }

  &-number {
    @include fontBody2();
  }
}

.profile__navigation {
  width: 100%;
  ul {
    @include flex(column, center, start);
    gap: 0.5rem;

    li {
      width: 100%;

      a {
        display: block;
        border: $border-orange;
        color: $color-primary-dark;
        border-radius: $std-border-radius;
        padding: $padding-small;
        transition: all 300ms ease-in;

        &.profile-active {
          display: block;
          color: $color-white;
          background-color: $color-primary-dark;
        }
      }
    }
  }
  svg {
    height: 1.4rem;
    vertical-align: sub;
  }
  .b {
    fill: none;
    stroke: $color-primary-dark;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    transition: all 300ms ease-in;
  }

  .c {
    fill: $color-primary-dark;
  }

  .d,
  .e,
  .f {
    fill: none;
  }
  .d {
    stroke-linecap: square;
  }
  .d,
  .e {
    stroke: $color-primary-dark;
    stroke-miterlimit: 10;
    stroke-width: 2px;
    transition: all 300ms ease-in;
  }

  .profile-active {
    .b,
    .d,
    .e {
      stroke: $color-white;
    }
  }
}

// Update Profile Information section

.profile__update{
  @include flex(column, center, stretch);
  max-width: 100%;
  gap: 1rem;

  label {
    @include fontBody2Semibold();
    padding-left: 1rem;
  }

  button {
    width: 100%;
  }
}

.profile__update {
  @include mediaQuery($desktop) {
    max-width: 50%;
  }
}

//Update profile & create recipes forms

.create-rec__information,
.create-rec__ingredients,
.create-rec__instructions {
  display: grid;
  gap: 1rem;

  @include mediaQuery($desktop){
    grid-template-columns: repeat(2, 1fr);

    h3{
      grid-column: 1/-1;
    }
  }
}

.create-rec__information .create-rec__field:first-of-type{
  grid-column: 1/-1;
}


.create-rec__instructions{
  h3, .create-rec__field{
    grid-column: 1/-1;
  }
}

.photo-recipe{
  input{
    display: none
  }
}

.profile__update-field,
.create-rec__field {
  @include flex(column, center, start);
  input,
  select,
  textarea {
    border: $border-grey;
    border-radius: $std-border-radius;
    padding: $padding-small;
    width: 100%;
  }

  input[type="email"]{
    background-color: $color-support-light;
    color: $color-text-medium-grey;
  }
}

//Create Recipes section
.profile__create-rec {
  @include flex(column, center, stretch);
  gap: 2rem;
  h3 {
    @include fontBody1Semibold();
  }
}

.create-rec__information,
.add--remove--buttons {
  border-bottom: $border-light-grey;
  padding-bottom: 2rem;
}

//My recipes section
.profile__my-recipes {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .my-recipes__heading {
    @include flex(row, space-between, center);
  }
}

//shopping list
.profile__shopping-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .shopping-list__heading {
    h2 {
      margin-bottom: 1rem;
    }
    span {
      @include fontBody1Semibold();
    }
    p {
      margin-top: 0.5rem;
    }

    @include mediaQuery($desktop) {
      max-width: 50%;
    }
  }
}

.shopping-list__container {
  display: grid;
  button {
    justify-self: end;
  }
}

.shopping-list__items {
  display: grid;
  gap: 0.5rem;

  @include mediaQuery($desktop) {
    grid-template-columns: repeat(2, 1fr);
  }

  div {
    background-color: $color-support-lighter;
    border: $border-grey;
    border-radius: $std-border-radius;
    padding: 0.5rem;

    p {
      @include fontBody2Semibold();
    }
  }
}

.profile-prev {
  svg {
    height: 1rem;
  }
  .b {
    stroke-linecap: square;
  }
  .b,
  .c {
    fill: none;
    stroke: $color-black;
    stroke-miterlimit: 10;
    stroke-width: 2px;
  }
}
// .profile__photo {
//   //cursor:pointer;
//   input[type="file"]::file-selector-button {
//     //visibility: hidden;
//     //}
//     //[input]::before {
//     //  font-family: 'FontAwesome';
//     //  content: '\f069'
//     //}
//   }
// }

//Recipe cards section
.my-recipes__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  @include mediaQuery($desktop) {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Menu display of profile*/

.recipe--information {
  display: flex;
  flex-flow: column nowrap;
}

.hidden-camera {
  visibility: hidden;
}

.screenshot-image {
  width: 150px;
  height: 90px;
  border-radius: 4px;
  border: 2px solid whitesmoke;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 5px;
  left: 10px;
  background: white;
}

.display-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 5% auto;
  position: relative;
}

video {
  //margin: 5% auto;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.video-options {
  position: absolute;
  left: 20px;
  top: 30px;
}

.controls {
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
}

.controls > button {
  width: 45px;
  height: 45px;
  text-align: center;
  border-radius: 100%;
  margin: 0 6px;
  background: transparent;

  &:hover {
    svg {
      color: white !important;
    }
  }
}

@media (min-width: 300px) and (max-width: 400px) {
  .controls {
    flex-direction: column;

    button {
      margin: 5px 0 !important;
    }
  }
}

.controls > button > svg {
  height: 20px;
  width: 18px;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

.controls button:nth-child(1) {
  border: 2px solid #d2002e;

  svg {
    color: #d2002e;
  }
}

.controls button:nth-child(2) {
  border: 2px solid #008496;

  svg {
    color: #008496;
  }
}

.controls button:nth-child(3) {
  border: 2px solid #00b541;

  svg {
    color: #00b541;
  }
}

.controls > button {
  width: 45px;
  height: 45px;
  text-align: center;
  border-radius: 100%;
  margin: 0 6px;
  background: transparent;

  &:hover {
    svg {
      color: white;
    }
  }
}

//profile change page behaviour

.profile-close {
  animation: fadeout 400ms ease-in-out;
  display: none;
  @include mediaQuery($desktop) {
  }
}

.profile-open {
  animation: fadein 400ms ease-in-out;
  display: block;
}


//modal photo

.modal-photo{
  .modal-header{
    border-bottom: none;
  }
}