.recipes__results {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;

  @include mediaQuery($tablet) {
    grid-template-columns: repeat(3, 1fr);
  }
}

#accordionDesktop {
  // display: none;
}

#mobileFilterBtn {
  margin: 2rem 0;
}

@media screen and (min-width: 902px) {
  #mobileFilterBtn,
  #filtersModal,
  .modal-backdrop,
  .modal.show .modal-dialog {
    display: none;
  }

  #accordionDesktop {
    display: block;
  }
}
