.recipe__heading {
  padding: 2rem 0;

  .results-subheading {
    text-transform: uppercase;
    color: $color-support-dark;
  }
}

.filter__heading {
  display: none;
  @include mediaQuery($desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.recipes__results {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;

  @include mediaQuery($tablet) {
    grid-template-columns: repeat(3, 1fr);
  }
}

#accordionDesktop {
  display: none;
}

.recipes {
  .accordion-button {
    position: relative;
    &::before,
    &::after {
      content: "";

      width: 14px;
      height: 2px;
      background-color: $color-black;
    }

    &:focus {
      border-color: $color-support-medium;
      box-shadow:$focus-box-shadow;
    }

    &::before {
      position: absolute;
      right: 20px;
    }

    &::after {
      transform: rotate(90deg);
    }

    &:not(.collapsed) {
      color: $color-black;
      background-color: $color-white;
      &::after {
        transform: rotate(180deg);
      }
    }
  }

  .accordion-item {
    border: none;
    border-bottom: $border-grey;
  }
}

.accordion-item:last-of-type {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.recipes__main {
  display: grid;
  gap: 2rem;
  padding: 2rem 0;
  grid-template-columns: repeat(2, 1fr);

  .results-container {
    grid-column: 1/-1;
  }
  @include mediaQuery($desktop) {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: calc(41px + 2rem) auto;
    #mobileFilterBtn,
    #filtersModal,
    .modal-backdrop,
    .modal.show .modal-dialog {
      display: none;
    }

    #accordionDesktop {
      display: block;
    }

    .accordion-item:last-of-type {
      margin-bottom: 2rem;
    }

    .filter-container {
      grid-area: 1/1/-1/2;
    }

    .recipes__sort-container {
      grid-area: 1/2/2/-1;
    }
    .results-container {
      grid-area: 2/2/-1/-1;
    }
  }

  .recipes__sort-container {
    text-align: right;
  }
  select.btn-white {
    text-align: left;
  }
}
