<h1>Home</h1>
<div class="hero-banner">
  <div class="wrapper">
    <!-- banner tabs  -->
    <div class="tabs">
      <!-- Tab 1 - search by ingredients - selected by default -->
      <input
        type="radio"
        name="ingredients-tab"
        id="ingredients-tab"
        checked="cehcked"
      />
      <label for="ingredients-tab">Ingredients</label>
      <div class="tab">
        <form action="">
          <legend>Get recipes by ingredients</legend>
          <label>
            <input type="text" placeholder="Hungry for something?" />
          </label>
          <label>
            <input type="text" placeholder="Hungry for something?" />
          </label>
          <label>
            <input type="text" placeholder="Hungry for something?" />
          </label>
          <input type="submit" value="Search" />
        </form>
      </div>

      <!-- Tab 2 - search by recipes -->

      <input type="radio" name="recipes-tab" id="recipes-tab" />
      <label for="recipes-tab">Recipes</label>
      <div class="tab">
        <form action="">
          <legend>Hungry for something?</legend>
          <label>
            <input type="text" placeholder="Hungry for something?" />
          </label>
          <input type="submit" value="Search" />
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Food of the World section -->
<section>
  <div class="wrapper">
    <div class="section-heading">
      <h2>Food of the world</h2>
      <a href="#">view all</a>
    </div>
    <div class="world-food-items">
      <a href="">
        <img src="" alt="" />
        <h3>Asian</h3>
      </a>
      <a href="">
        <img src="" alt="" />
        <h3>American</h3>
      </a>
      <a href="">
        <img src="" alt="" />
        <h3>French</h3>
      </a>
    </div>
  </div>
</section>

<!-- What's Hot section -->
